<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- Copyright 2019-2021 Vanessa Sochat-->
{% include head.html %}
{% include google-analytics.html %}
{% if site.version_params.versioning == true %}
    {% assign pageversion = page.url | append: "/" | replace: '//', '/' | split: '/' %}
    {% assign currentpageversion = pageversion[3] %}
    {% comment %}
    Let's check to see if we have one of the versions in the URL if not then we are on the latest version
    {% endcomment %}
    {% if site.version_params.versions contains currentpageversion %}
        {% assign currentpageversionpath = site.version_params.version_dir | append: '/' | append: pageversion[3] | append: '/'
        %}
        {% comment %}
        Remove the version from the URL to get the latest document url for use in the alerts etc
        {% endcomment %}
        {% assign latestversion = page.url | replace: currentpageversionpath, '' %}
    {% else %}
        {% comment %}
        Otherwise we are using the latest version
        {% endcomment %}
        {% assign latestversion = page.url %}
        {% assign currentpageversion = site.version_params.latest %}
    {% endif %}
{% endif %}

<body class="td-section">
    {% include header.html %}
    <div class="td-outer">
        
        <div class="td-content-center" >
            <div style="background-image: url(../assets/img/indexbg.jpg); height: 500px;">
                <dvi>
                    {{ content }}
                </dvi>
            </div>
        </div>
        <!--

            <div class="td-main">
                <div class="td-content-center" >
                    <div style="background-image: url(../assets/img/indexbg.jpg); height: 300px;">
                        {{ content }}
                    </div>
                </div>
            </div>
        -->
        {% include footer.html %}
    </div>
    {% include scripts.html %}
</body>

</html>